@model NWEmployee.Models.Invoices

@{
    ViewBag.Title = "Details";
}

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Northwest Labs</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active">@Html.ActionLink("Home", "Index", "Billings")</li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Work Orders</a></li>
            <li>@Html.ActionLink("Invoices", "Index", "Invoices")</li>
            <li><a href="#">Receive Payments</a></li>
        </ul>
    </nav>


    <div class="container-fluid dashboard-wrapper">
        <div class="container-fluid dashboard-container">
            <div class="container">
                <h2>Invoice Details</h2>

                <div>

                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.paymentDueDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.paymentDueDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.earlyPaymentDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.earlyPaymentDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.earlyPaymentDiscount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.earlyPaymentDiscount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.mailedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mailedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.totalPayment)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.totalPayment)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.totalPaid)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.totalPaid)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.balance)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.balance)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.oneTimeDiscount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.oneTimeDiscount)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.invoiceNo }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>
