@model IEnumerable<NWEmployee.Models.Customers>

@{
    ViewBag.Title = "Index";
}

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <div class="container-fluid">
                <img src="~/Content/images/NW_logo.png" style="width: 100%; padding: 10px" />
            </div>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active">@Html.ActionLink("Home", "Index", "Sales")</li>
            <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
            <li>@Html.ActionLink("Potential Customers", "Index", "Potential_Customers")</li>
            <li><a href="#">Work Orders</a></li>
            <li><a href="#">Back Orders</a></li>
            <li><a href="#">Discounts</a></li>
            <li><a href="#">Marketing</a></li>
        </ul>
    </nav>

    <div class="container-fluid dashboard-wrapper" style="margin-left: 15px;">
        <div class="container-fluid dashboard-container">
            <h2>Customers</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.custName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.custAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.custPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.custEmail)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.custName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.custAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.custPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.custEmail)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.custID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.custID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.custID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>