
@{
    ViewBag.Title = "WorkOrders";
}

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <div class="container-fluid">
                <img src="~/Content/images/NW_logo.png" style="width: 100%; padding: 10px" />
            </div>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="#">Home</a></li>
            <li><a href="#">Customers</a></li>
            <li class="active"><a href="#">Work Orders</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Order Materials</a></li>
        </ul>
    </nav>

    <div id="sidebar" style="min-width: 350px;">
        <!-- Sidebar Header -->
        @if (ViewBag.type == "WO")
        {
            <div class="sidebar-header">
                <h3>Work Orders</h3>
            </div>

            <table class="table">
                <tr>
                    <th>Work Order</th>
                    <th>Company</th>
                </tr>
                    @foreach (var item in ViewBag.workOrderList)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("WorkOrdersCom", "Labs", new { item.workOrderID })">
                                    @item.workOrderID
                                </a>
                            </td>
                            <td>
                                @item.customerName
                            </td>
                        </tr>
                    }
            </table>
        }
        else if (ViewBag.type == "CO")
        {
            <div class="sidebar-header">
                <h3><a href="@Url.Action("WorkOrders", "Labs")">Work Order: @ViewBag.workOrderID</a></h3>
            </div>

            <table class="table">
                <tr>
                    <th>Compound ID</th>
                    <th>Name</th>
                </tr>
                @foreach (var item in ViewBag.compounds)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("WorkOrdersSam", "Labs", new { ViewBag.workOrderID, item.LTNum })">
                                @item.LTNum
                            </a>
                        </td>
                        <td>
                            @item.compoundName
                        </td>
                    </tr>
                }
            </table>
        }
        else if (ViewBag.type == "SA")
        {
            <div class="sidebar-header">
                <h3><a href="@Url.Action("WorkOrders", "Labs")">Work Order: @ViewBag.workOrderID</a></h3>
                <h3><a href="@Url.Action("WorkOrdersCom", "Labs", new { ViewBag.workOrderID })">Compound: @ViewBag.LTNum</a></h3>
            </div>

            <table class="table">
                <tr>
                    <th>Sample ID</th>
                    <th>Assay</th>
                </tr>
                @foreach (var sample in ViewBag.samples)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("WorkOrdersTest", "Labs", new { ViewBag.workOrderID, ViewBag.LTNum, sample.sampleID } )">
                                @sample.sampleID
                            </a>
                        </td>
                        <td>
                            @sample.assayName
                        </td>
                    </tr>
                }
            </table>
        }
        else if (ViewBag.type == "TE")
        {
            <div class="sidebar-header">
                <h3><a href="@Url.Action("WorkOrders", "Labs")">Work Order: @ViewBag.workOrderID</a></h3>
                <h3><a href="@Url.Action("WorkOrdersCom", "Labs", new { ViewBag.workOrderID })">Compound: @ViewBag.LTNum</a></h3>
                <h3><a href="@Url.Action("WorkOrdersSam", "Labs", new { ViewBag.workOrderID, ViewBag.LTNum })">Sample: @ViewBag.sampleID</a></h3>
            </div>
        }

    </div>

    <div class="container-fluid dashboard-wrapper">
        <div class="container-fluid dashboard-container">
            @if (ViewBag.type == "TE")
            {
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Test</th>
                        <th>Result</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    @foreach(var test in ViewBag.tests)
                    {
                        <tr>
                            <td>@test.testTubeID</td>
                            <td>@test.testName</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>